{% extends "base/base.html" %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">

            <h1 class="h4 mb-4 text-center">Nouveau mot de passe</h1>

            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Nouveau mot de passe</label>
                    {{ form.password1 }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Confirmation</label>
                    {{ form.password2 }}
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Modifier le mot de passe
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
